{% extends 'flatpages/default.html' %}

{% block title %}
<h3>News</h3>
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h2>{{news|length}}</h2>
   <h3>{{time_published|date:'d M y'}}</h3>
   <h3>{{no_new|default_if_none:'Пока что нет новостей'}}</h3>
   <hr>
   {% if news %}
      <table>
          <tr>
             <td>Заголовок</td>
             <td>Дата</td>
             <td>Предисловие</td>
          </tr>
         {% for news in news %}
         <tr>
            <td>{{ news.title }}</td>
             <td>{{ news.creationDate }}</td>
             <td>{{ news.content|truncatewords:20 }}</td>
         </tr>
          {% endfor %}
      </table>
   {% else %}
      <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}