amqp
APScheduler
asgiref
async-timeout
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cryptography
defusedxml
Django
django-allauth
django-apscheduler
django-filter
idna
kombu
oauthlib
prompt_toolkit
pycparser
PyJWT
python-dateutil
python3-openid
pytz
psycopg2
redis
requests
requests-oauthlib
setuptools
six
sqlparse
tzdata
tzlocal
urllib3
vine
wcwidth



# pip install -r requirements.txt - to install necessary packages backports.zoneinfo